.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #999;

  p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

.spinner {
  display: block;
  margin: 2rem auto;
}

